AirportIQ.IWS.Service.API/Service References/IwsService/IwsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54548/IwsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:54548/IwsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AirportIQ.IWS.Service.Web" />
  <xs:import schemaLocation="http://localhost:54548/IwsService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetFingerprintImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="1" name="personID" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFingerprintImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AirportIQ.IWS.Service.Web" minOccurs="0" name="GetFingerprintImagesResult" nillable="true" type="q2:FingerprintImages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="1" name="personID" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AirportIQ.IWS.Service.Web" minOccurs="0" name="GetDocumentsResult" nillable="true" type="q4:Documents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDojStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="1" name="personID" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDojStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AirportIQ.IWS.Service.Web" minOccurs="0" name="GetDojStatusResult" nillable="true" type="q6:Doj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBadges">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="1" name="personID" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBadgesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AirportIQ.IWS.Service.Web" minOccurs="0" name="GetBadgesResult" nillable="true" type="q8:Badges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="1" name="personID" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AirportIQ.IWS.Service.Web" minOccurs="0" name="GetPersonResult" nillable="true" type="q10:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFingerprints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="start" type="xs:dateTime" />
        <xs:element minOccurs="1" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFingerprintsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AirportIQ.IWS.Service.Web" minOccurs="0" name="GetFingerprintsResult" nillable="true" type="q11:Fingerprinted" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEBTS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="1" name="personID" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEBTSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEBTSResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="1" name="personID" type="q13:guid" />
        <xs:element minOccurs="1" name="note" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BiometricUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="1" name="personID" type="q14:guid" />
        <xs:element minOccurs="1" name="image" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BiometricUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BiometricUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBadgeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="cardID" type="xs:int" />
        <xs:element minOccurs="1" name="badgeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBadgeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBadgeIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitiateBackgroundCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="1" name="personID" type="q15:guid" />
        <xs:element minOccurs="1" name="TSCTransactionTypeID" type="xs:int" />
        <xs:element minOccurs="1" name="TransactionControlNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="TransactionDate" type="xs:dateTime" />
        <xs:element minOccurs="1" name="ProgramIdentification" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="ResponseIdentification" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="Status" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="StatusText" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="XMLdata" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="Direction" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="fromFisc" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitiateBackgroundCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitiateBackgroundCheckResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBackgroundCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="1" name="personID" type="q16:guid" />
        <xs:element minOccurs="1" name="AgencyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="CheckTypeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="TransactionTypeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="TransactionControlNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="TransactionDate" type="xs:dateTime" />
        <xs:element minOccurs="1" name="Result" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="ResultDate" type="xs:dateTime" />
        <xs:element minOccurs="1" name="ResultDetails" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="ResultDetailDate" type="xs:dateTime" />
        <xs:element minOccurs="1" name="fromFisc" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBackgroundCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBackgroundCheckResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBackgroundCheckStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="1" name="personID" type="q17:guid" />
        <xs:element minOccurs="1" name="TransactionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="AgencyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="TransactionControlNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="TransactionDate" type="xs:dateTime" />
        <xs:element minOccurs="1" name="ProgramIdentification" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="ResponseIdentification" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="TransmissionStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="TransmissionStatusText" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="XMLdata" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="fromFisc" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBackgroundCheckStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBackgroundCheckStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBackgroundCheckResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="1" name="personID" type="q18:guid" />
        <xs:element minOccurs="1" name="TransactionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="AgencyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="TransactionControlNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="TransactionDate" type="xs:dateTime" />
        <xs:element minOccurs="1" name="ProgramIdentification" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="ResponseIdentification" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="TransmissionStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="TransmissionStatusText" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="XMLdata" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="AgencyResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="AgencyResultDate" type="xs:dateTime" />
        <xs:element minOccurs="1" name="AgencyResultDetails" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="AgencyResultDetailDate" type="xs:dateTime" />
        <xs:element minOccurs="1" name="BackgroundCheckID" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="BackgroundCheckType" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="fromFisc" type="xs:boolean" />
        <xs:element minOccurs="1" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBackgroundCheckResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBackgroundCheckResultResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveFbiHistoryUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="1" name="personID" type="q19:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveFbiHistoryUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetreiveFbiHistoryUrlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFBICaseNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="1" name="iwsPersonID" type="q20:guid" />
        <xs:element minOccurs="1" name="caseNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="result" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="resultDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFBICaseNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetFBICaseNumberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTSACaseNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="1" name="iwsPersonID" type="q21:guid" />
        <xs:element minOccurs="1" name="caseNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="result" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="resultDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTSACaseNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetTSACaseNumberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpireBadge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="1" name="personID" type="q22:guid" />
        <xs:element minOccurs="1" name="cardID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpireBadgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExpireBadgeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvisionedByCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="cardID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvisionedByCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AirportIQ.IWS.Service.Web" minOccurs="0" name="ProvisionedByCardResult" nillable="true" type="q23:ProvisionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvisionedByBOAABadgeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="BOAABadgeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvisionedByBOAABadgeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AirportIQ.IWS.Service.Web" minOccurs="0" name="ProvisionedByBOAABadgeIDResult" nillable="true" type="q24:ProvisionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvisioningComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="cardID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvisioningCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProvisioningCompleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDbConnected">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDbConnectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsDbConnectedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDeletePersonTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AirportIQ.IWS.Service.Web" minOccurs="1" name="info" nillable="true" type="q25:DeletePersonInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDeletePersonTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoDeletePersonTasksResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonsForBatchUpdate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonsForBatchUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPersonsForBatchUpdateResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginPersonUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="PersonUpdateID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginPersonUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AirportIQ.IWS.Service.Web" minOccurs="0" name="BeginPersonUpdateResult" nillable="true" type="q26:PersonUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelPersonUpdate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelPersonUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentPersonUpdate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentPersonUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AirportIQ.IWS.Service.Web" minOccurs="0" name="GetCurrentPersonUpdateResult" nillable="true" type="q27:PersonUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonUpdates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonUpdatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AirportIQ.IWS.Service.Web" minOccurs="0" name="GetAllPersonUpdatesResult" nillable="true" type="q28:ArrayOfPersonUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulatePersonUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="1" name="BadgeIDs" nillable="true" type="q29:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulatePersonUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/AirportIQ.IWS.Service.Web" minOccurs="0" name="PopulatePersonUpdateResult" nillable="true" type="q30:PersonUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>